:root {
    --bg-dark: #0d1117;
    --bg-card: #161b22;
    --border: #30363d;
    --text: #e6edf3;
    --text-muted: #8b949e;

    --good: #238636;
    --warn: #9e6a03;
    --bad: #da3633;
    --info: #58a6ff;

    --zone-endurance: #368bf3;
    --zone-tempo: #59bd59;
    --zone-sweetspot: #59bd59;
    --zone-threshold: #f8cc44;
    --zone-race: #341539;
    --zone-rest: #7f7f7f;
}